@import "tailwindcss";
body {
  font-family: 'Inter', sans-serif;
}

.hide-y-scrollbar::-webkit-scrollbar {
  width: 0px;           
  height: 12px;         
}

.hide-y-scrollbar::-webkit-scrollbar-thumb:vertical {
  background: transparent;
}
hide-y-scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: #cbd5e1;   /* gray-300 */
  border-radius: 8px;
}

